/* Untuk Tablet */
@media all and (max-width: 1000px){
	.menu {
    display: none;
    position: absolute;
    margin-top: 64px;
    background-color: #17202a;
    z-index: 1;
  }
  .menu a{
    width: 100%;
    display: block;
  }
  .menu-icon {
    display: block;
  }
  .container:hover .menu{
    display: block;
  }
  .xtra1-top h2 {
		width: 25%;
	}
	.xtra1{
	  margin-top: 100px;
	}
	.xtra2{
		width: 50%;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px){
  .menu {
		display: none;
    position: absolute;
    margin-top: 64px;
    background-color: #17202a;
    z-index: 1;
	}
  .menu a{
    width: 100%;
    display: block;
  }
	.menu-icon {
		display: block;
	}
  .container:hover .menu{
    display: block;
  }
	.xtra1-top h2 {
		width: 45%;
	}
	.xtra1{
	  margin-top: 100px;
	}
	.xtra2{
		width: 100%;
	}
	      /* Untuk contact form Smartphone */
	.contact-form {
	width: 100%;
  	}
  	.contact-form h1 {
	font-size: small;
  	}
   	.contact-form p {
	 font-size: small;
   	}
  	input, textarea {
	width: 80%;
	font-size: 12px;
  	}
          /* Untuk  footer  Smartphone */
  
	footer {
	  text-align: center;
	}
	footer img {
	  width: 30%;
	}
}

/* Jumbotron Responsive Breakpoints */
/* Responsive Lebar */
@media only screen and (min-width: 300px) and (max-width: 319.9px){
	.jumbotron {
    height: 90vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
    border: 1px solid #d8d7d7;
  background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}


@media only screen and (min-width: 320px) and (max-width: 359.9px){
	.jumbotron {
    height: 90vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
    border: 1px solid #d8d7d7;
  background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 479.9px){
	.jumbotron {
    height: 90vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
    border: 1px solid #d8d7d7;
  background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}


/* Responsive Height */
@media only screen and (min-height: 300px) and (max-height: 319.9px){
	.jumbotron {
    height: 80vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
  	border: 1px solid #d8d7d7;
		background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}


@media only screen and (min-height: 320px) and (max-height: 359.9px){
	.jumbotron {
    height: 80vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
    border: 1px solid #d8d7d7;
  background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}

@media only screen and (min-height: 360px) and (max-height: 479.9px){
	.jumbotron {
    height: 90vh;
    margin-top: 65px;
	}

  .caption h1 {
    color: #000;
    font-size: 2.2em;
  }

  .caption h2 {
    text-align: center;
    font-size: 2em;
  }

  .container .caption .btn-joinUs {
    border: 1px solid #d8d7d7;
  background-color: #000;
  }

  .container .caption .btn-joinUs a {
  color: #fff;
	}

	.xtra1-top h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.xtra1-konten{
		margin-bottom: 30px;
	}
}
