/* Untuk Tablet */
@media all and (max-width: 1000px){
	.xtra1-top h2 {
		width: 25%;
	}
	.xtra1{
	  margin-top: 100px;
	}
	.xtra2{
		width: 50%;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px){
	.menu {
		display: none;
	}
	.menu-icon {
		display: block;
	}
	.xtra1-top h2 {
		width: 45%;
	}
	.xtra1{
	  margin-top: 100px;
	}
	.xtra2{
		width: 100%;
	}
	      /* Untuk contact form Smartphone */
	.contact-form {
	width: 100%;
  	}
  	.contact-form h1 {
	font-size: small;
  	}
   	.contact-form p {
	 font-size: small;
   	}
  	input, textarea {
	width: 100%;
	font-size: 12px;
  	}
          /* Untuk  footer  Smartphone */
  
	footer {
	  text-align: center;
	}
	footer img {
	  width: 30%;
	}
}
