/*-------Header-------*/
* {
  padding: 0;
  margin: 0;
  border-size: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: #031321;
  font-family: consolas;
}

.menu a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

.menu a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.5s;

}

.fa{
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #17202a;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logofoto {
  height: 65px;
  top: 0;
}

/* .logo {
  float: left;
} */

.menu {
  /* float: right; */
  background-color: transparent;
  transition: all 0.5s;
}

.menu:hover {
  background-color: transparent;
}

.menu-icon {
  color: white;
  /* float: right; */
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.menu a {
  line-height: 65px;
  padding: 0px 20px;
  color: white;
  display: inline-block;
  /* float: left; */
}

/* Jumbotron */
.jumbotron {
  margin-top: 65px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d7d7;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption h1 {
  text-align: center;
}

.caption h1,
.caption h2 {
  margin-bottom: 35px;
  font-size: 45px;
  text-shadow: 0px 0px 19px #949090;
}

.jumbotron .caption .btn-joinUs {
  border: 1px solid #000;
  background-color: transparent;
  width: 170px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

.jumbotron .caption .btn-joinUs a {
  color: black;
  text-decoration: none;
  font-size: 21px;
}

.jumbotron .caption .btn-joinUs:hover {
  border: 1px solid #d8d7d7;
  background-color: #000;
  cursor: pointer;
}

.jumbotron .caption .btn-joinUs:hover a {
  color: white;
  font-weight: bold;
}
/*--------Extra 1 ---------*/
.xtra{  
  margin-top: 100px;
  height: auto;
  position: relative;
  max-width: 100%;
}
.xtra1{
  
}
.xtra1-top h2{
  text-align: center;
  font-family: Arial,sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #14A2EB;
  margin-bottom: 10px;
  width: 13%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  animation-name: xtrnim;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}
@keyframes xtrnim{
    0% {color:red;}
    25%  {color:lime;}
    50%  {color:blue;}
    75%  {color:yellow;}
    100% {color:red;}
}
.xtra1-konten{
  font-size: 20px;
  font-family: Arial,sans-serif;
  text-align: justify;
  font-style: italic;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  color: white;
}
.xtra1-konten span{
  color:#14A2EB;
}

/* ---------- xtra2 -------------*/

.xtra2 {
  float: left;
  width: 20%;
  margin: 50px 0;
}

.xtra2-top {
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 15px;
  color: white;
  animation-name: xtrnimm;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes xtrnimm{
    0% {color:lime;}
    25%  {color:blue;}
    50%  {color:yellow;}
    75%  {color:white;}
    100% {color:red;}
}

.xtra2-icongbr {
  width: 200px;
}

.xtra {
  text-align: center;
}

.xtra2-icon {
  position: relative;
}

.xtra2-icon p {
  position: absolute;
  top: 140px;
  width: 100%;
  color: yellow;
  font-style: bold;
  font-size: 18px;
  text-shadow: 3px 2px 1px black;
}

.xtra2-icon img {
  cursor:pointer;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.xtra2-icon:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.xtra2-konten {
  color: white;
  margin-top: 12px;
}

.arabic {
  color: white;
  margin-top: 12px;
  font-family: Traditional Arabic;
  font-size: 18px;
  direction:rtl;
  line-height: 100%;
  font-weight: bold;
}

.clear{
  clear: both;
}
/*style contact form*/

.contact-form {
  border-top: 2px solid #dee7ec;
  padding-top: 100px;
  text-align: center;
  background-color: #031321;
}
.contact-form h1 {
  padding-bottom: 15px;
  color: #eee;
}

.contact-form p {
  color: #eee;
}

input,textarea {
  font-size: 18px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid #4f93b8;
}

.contact-submit {
  background-color: #4f93b8;
  color: #efeff0;
  cursor: pointer;
  box-shadow: 0 7px #4f93b8;
}
.contact-submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* style footer */

footer img {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
footer {
  border-top: 2px solid #dee7ec;
  background-color: #031321;
  padding-top: 20px;
  padding-bottom: 20px;
}